# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [ ]:
# import libraries

In [8]:
import pandas as pd
import numpy as np

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [21]:
data=pd.read_csv('Pokemon.csv')

In [22]:
# import dataset

In [23]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### Print first 10 rows of `pokemon`.

In [24]:
data.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

In [25]:
data.shape

(800, 13)

In [26]:
data.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [29]:
# extract all values
types = pd.concat([data['Type 1'], data['Type 2']]).dropna()

# Get the distinct values across both fields
distinct_types = types.unique()

# Print the distinct values
display(distinct_types)

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [40]:
# your code here
#data['Name']
#dat['Name'].unoque()
data['Name'] = data['Name'].str.replace(r'.*Mega', 'Mega')
data['Name'].unique()
#data['Name'].value_counts()

# test transformed data
data.head(10)

C:\Users\ADMINI~1\AppData\Local\Temp/ipykernel_19248/4123061533.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Name'] = data['Name'].str.replace(r'.*Mega', 'Mega')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [45]:
#create new columns
data['A/D Ratio'] = data['Attack'] / data['Defense']

In [46]:
max_ratio_name = data.loc[data['A/D Ratio'].idxmax()]['Name']
print(max_ratio_name)

DeoxysAttack Forme

In [47]:
min_ratio_name = data.loc[data['A/D Ratio'].idxmin()]['Name']
print(min_ratio_name)

Shuckle

#### Identify the pokemon with the highest `A/D Ratio`.

In [48]:
max_ratio_name = data.loc[data['A/D Ratio'].idxmax()]['Name']
print("The Pokémon with the highest A/D Ratio is:", max_ratio_name)

The Pokémon with the highest A/D Ratio is: DeoxysAttack Forme

#### Identify the pokemon with the lowest A/D Ratio.

In [49]:
max_ratio_name = data.loc[data['A/D Ratio'].idxmin()]['Name']
print("The Pokémon with the lowest A/D Ratio is:", min_ratio_name)

The Pokémon with the lowest A/D Ratio is: Shuckle

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [51]:
data['Combo Type'] = data['Type 1']

mask = data['Type 2'].notna()
data.loc[mask, 'Combo Type'] = data.loc[mask, 'Type 1'] + '-' + data.loc[mask, 'Type 2']
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [52]:
top_5_names = data.nlargest(5, 'A/D Ratio')['Name'].tolist()
print("The Pokémon with A/D Ratio among the top 5 are:", top_5_names)

The Pokémon with A/D Ratio among the top 5 are: ['DeoxysAttack Forme', 'Carvanha', 'Mega Beedrill', 'Cranidos', 'Sharpedo']

In [53]:
#using the nlargest() method.
top_5 = data.nlargest(5, 'A/D Ratio')

print("The Pokémon with A/D Ratio among the top 5 are:")
for i, row in top_5.iterrows():
    print(row['Name'])

The Pokémon with A/D Ratio among the top 5 are:
DeoxysAttack Forme
Carvanha
Mega Beedrill
Cranidos
Sharpedo

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [54]:
top_5 = data.nlargest(5, 'A/D Ratio')
combo_type_list = top_5['Combo Type'].tolist()
unique_combo_types = list(set(combo_type_list))
print("The distinct Combo Type values of the 5 Pokémon with the highest A/D Ratio are:", unique_combo_types)

The distinct Combo Type values of the 5 Pokémon with the highest A/D Ratio are: ['Bug-Poison', 'Psychic', 'Rock', 'Water-Dark']

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [60]:
combo_types = top_5['Combo Type'].unique()

# create an empty DataFrame to store the mean scores
mean_scores = pd.DataFrame(columns=['Combo Type', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total'])

# loop through each combo type and calculate the mean scores
for combo_type in combo_types:
    # filter the top5_ad_ratio DataFrame by combo_type
    combo_type_df = top_5[top_5['Combo Type'] == combo_type]
    
    # calculate the mean scores of all numeric fields
    mean_score = combo_type_df.mean(numeric_only=True)
    
    # add the combo type to the mean_score Series
    mean_score['Combo Type'] = combo_type
    
    # add the mean_score Series as a row to the mean_scores DataFrame
    mean_scores = mean_scores.append(mean_score, ignore_index=True)

# display the mean_scores DataFrame
display(mean_scores)

,Combo Type,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Total,#,A/D Ratio,Generation,Legendary
0,Psychic,50.0,180.0,20.0,180.0,20.0,150.0,600.0,386.0,9.000,3.0,1.0
1,Water-Dark,57.5,105.0,30.0,80.0,30.0,80.0,382.5,318.5,3.750,3.0,0.0
2,Bug-Poison,65.0,150.0,40.0,15.0,80.0,145.0,495.0,15.0,3.750,1.0,0.0
3,Rock,67.0,125.0,40.0,30.0,30.0,58.0,350.0,408.0,3.125,4.0,0.0

In [61]:
data.groupby('Combo Type').agg(
    {
        '#': np.mean,
        'Total': np.mean,
        'HP': np.mean,
        'Attack': np.mean,
        'Defense': np.mean,
        'Sp. Atk': np.mean,
        'Sp. Def': np.mean,
        'Speed': np.mean,
        'Generation': np.mean,
        'Legendary': np.mean,
        'A/D Ratio': np.mean
    }
).sort_values(by='A/D Ratio', ascending=False).head(5)

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,,
Psychic-Dark,720.000000,680.000000,80.000000,160.0,60.000000,170.000000,130.0,80.000000,6.000000,1.0,2.666667
Water-Dark,347.666667,493.833333,69.166667,120.0,65.166667,88.833333,63.5,87.166667,3.166667,0.0,2.291949
Ground-Steel,530.000000,508.000000,110.000000,135.0,60.000000,50.000000,65.0,88.000000,5.000000,0.0,2.250000
Bug-Ghost,292.000000,236.000000,1.000000,90.0,45.000000,30.000000,30.0,40.000000,3.000000,0.0,2.000000
Rock-Flying,354.250000,524.500000,72.500000,123.0,65.000000,79.000000,70.0,115.000000,3.000000,0.0,1.961589

In [ ]:
for storing the top 5 unique values
combo_types = top5_ad_ratio['Combo Type'].value_counts().head(5).index.tolist()
#storing this set into a variable
selected_data = data[data['Combo Type'].isin(combo_types)]
# call that variable and agrouping and aggregating
selected_data = data[data['Combo Type'].isin(combo_types)]

selected_data.groupby('Combo Type').agg(
    {
        '#': np.mean,
        'Total': np.mean,
        'HP': np.mean,
        'Attack': np.mean,
        'Defense': np.mean,
        'Sp. Atk': np.mean,
        'Sp. Def': np.mean,
        'Speed': np.mean,
        'Generation': np.mean,
        'Legendary': np.mean,
        'A/D Ratio': np.mean
    }
).sort_values(by='A/D Ratio', ascending=False).head(5)